body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #fef6e4;  
    color: #5d576b;              
}

h1#site-title {
    font-size: 72px;
    letter-spacing: -2px;
    text-align: center;
    color: #ffb3ba;              
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Verdana;
}

h2#article-title {
    font-size: 36px;
    text-align: center;
    color: #5d576b;
    margin-top: 30px;
    margin-bottom: 20px;
}


nav {
    background-color: #cce7ff;   
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 376px) {
    nav ul {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}

nav ul li a {
    color:#3b3b3b;             
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
    font-size: 14px;
}

nav ul li a:hover {
    background-color: #b0d6ff;   
    text-decoration: underline;
}

figure.main-image {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #5d576b;
    padding: 14px;
    background-color: #d5f4e6;   
}

@media all and (min-width: 768px) {
    figure.section-image {
        text-align: center;
        border: 2px solid #5d576b;
        padding: 14px;
    }
}

figure.section-image.odd {
    float: left;
    width: 400px;
    background-color: #ffb3ba;   
    margin-right: 20px;
    margin-bottom: 20px;
}

figure.section-image.even {
    float: right;
    width: 400px;
    background-color: #ffb3ba;  
    margin-left: 20px;
    margin-bottom: 20px;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #5d576b;
}

p {
    margin: 15px auto;
    max-width: 600px;
    padding: 0 10px;
}


#message {
    background-color: #fff1b6;    
    border: 1px solid #5d576b;
    padding: 20px 40px;
    margin: 12px 0px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity 0.5s ease;
    color: #5d576b;
}

#message.fade-out {
    opacity: 0;
}

#message.dismissed {
    display: none;
}


body.dark-mode {
    background-color: #010101;
    color: #ffffff;
}

body.dark-mode h1#site-title,
body.dark-mode h2#article-title {
    color: #ffb3ba;
}

body.dark-mode nav {
    background-color: #3c3c3c;
}

body.dark-mode nav ul li a {
    color: #e0e0e0;
}

body.dark-mode figure.main-image,
body.dark-mode figure.section-image.odd,
body.dark-mode figure.section-image.even {
    background-color: #4b4b4b;
    border-color: #ffb3ba;
}

body.dark-mode #message {
    background-color: #5c5c5c;
    color: #e0e0e0;
}

body.dark-mode button {
    background-color: #ffb3ba;
    color: #010101;
}